<h1 class= "heading">CoworkIT users</h1>
<div class="container">
  <div class="user-list">
    <%= simple_form_for @user, method: :get do |f| %>
      <%= f.input :name, as: :fake, placeholder: 'Name' %>
      <%= f.input :occupation, as: :fake %>
      <%= f.button :submit, "Find a user", class: 'btn-red btn-search'%>
    <% end %>
  </div>
</div>

<div class="wrapper-white">
  <div class="container">
    <div class="user-list">
      <% if @users.empty? %>
        <h2>Sorry, we couldnt find any users to your search :( </h2>
      <% else %>
        <div class="row gray-background" id="user-info">
          <% @users.each do |user| %>
            <div class="col-xs-6 col-sm-3 user-name">
              <%= link_to user_path(user) do %>
                <% if @user.facebook_picture_url %>
                  <% avatar_url = @user.facebook_picture_url %>
                <% elsif @user.photo %>
                  <% avatar_url = @user.photo.path %>
                <% else %>
                  <% avatar_url = "placeholder.jpg" %>
                <% end %>
                <%= image_tag avatar_url, class: "class-photos avatar-comment" %>
                <div class="user-cards">
                  <%= user.first_name %>
                  <%= user.last_name %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
