<div class="user-container">
  <div class="profile-pic">
    <% avatar_url = @user.facebook_picture_url || @user.photo_url %>
    <%= image_tag avatar_url, class: "avatar-lg" %>
  </div>
  <h3 class="user-names"><%= @user.first_name %> <%= @user.last_name %></h3>
    <%= simple_form_for [@user] do |f| %>
    <%= f.input :photo, as: :attachinary %>
  <% end %>
  <div class="profile">
    <div class="profile-grid">
      <div class="profile-header">
        <p>Profile Data</p>
      </div>
      <div class="first_name-header">
        <p>First Name</p>
      </div>
      <div class="first_name">
        <p><%= @user.first_name %></p>
      </div>
      <div class="last_name-header">
        <p>Last Name</p>
      </div>
      <div class="last_name">
        <%= @user.last_name %>
      </div>
      <div class="email-header">
        <p>E-Mail</p>
      </div>
      <div class="profile-email">
        <%= @user.email %>
      </div>
      <% if !@user.provider && @user == current_user %>
      <div class="change-password text-center">
        <%= link_to "Change your password", edit_user_registration_path %>
      </div>
      <% end %>
    </div>
  </div>

  <% if current_user == @user %>
  <div class="booking">
    <div class="booking-grid">
      <div class="bookings-header">
        <p>Your Bookings</p>
      </div>
      <div class="date-header">
        <p>Date</p>
      </div>
      <div class="date">
        <p>
          <% @bookings.each do |book| %>
          <%= book.start_time.strftime("%d.%m.%Y") %>
          <br>
          <% end %>
        </p>
      </div>
      <div class="time-header text-center">
        <p>Time</p>
      </div>
      <div class="time text-center">
        <p>
          <% @bookings.each do |book| %>
          <%= book.start_time.hour %> - <%= book.end_time.hour %>
          <br>
          <% end %>
        </p>
      </div>
      <div class="cost-header text-center">
        <p>Cost</p>
      </div>
      <div class="cost text-center">
        <p>
          <% @bookings.each do |book| %>
          <% unless book.cost.nil? %>
          <%= book.cost %> €
          <% else %>
          -
          <% end %>
          <br>
          <% end %>
        </p>
      </div>
      <div class="coffeeshop-header">
        <p>Coffeeshop</p>
      </div>
      <div class="coffeeshop-name">
        <p>
          <% @bookings.each do |book| %>
          <%= book.desk.coffeeshop.name %>
          <br>
          <% end %>
        </p>
      </div>
      <div class="cancel">
          <% @bookings.each do |book| %>
          <% if book.start_time - Time.now > 1 %>
              <%= button_to "cancel", book, :method => :delete, class:'btn btn-red btn-cancel' %>
          <% end %>
          <br>
          <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
