<div class="col-xs-12 col-md-4 col-sm-6 cards-wrap">
  <div class="card">
    <div class="card-top" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= card_banner_url %>');">
      <div class="card-description">
        <h2><%= coffeshop_name %></h2>
        <p><%= coffeeshop_subtitle %></p>
      </div>
      <div class="show-card">
        <% if wifi %>
          <i class="fa fa-wifi"></i>
        <% end %>
        <% if power_outlet %>
          <i class="fa fa-plug"></i>
        <% end %>
      </div>
    </div>
    <div class="card-bottom">
      <div class="card-user">
<!--           <img class="avatar-xs" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
          <img class="avatar-xs" src="https://kitt.lewagon.com/placeholder/users/nhxng"> -->
      </div>
      <div class="card-price"> <%= average_desk_price %> </div>
    </div>
    <a class="card-link" href="#" ></a>
    <%= link_to "", link_path, class: "card-link"  %>

  </div>
</div>

