<div class="wrapper-white">
  <div class="comments">
    <div class="comment left">
      <%= image_tag 'Maren', class: 'avatar-comment' %>
      <blockquote> I got to meet a lot of interesting people while working. It's is a great way to get inspired and exchange ideas.
        <cite> Maren, Design Guru</cite>
      </blockquote>
    </div>
    <div class="comment right">
      <blockquote> Herro, I came up with this idea a few weeks ago and apparently someone had already done it! Great!
        <cite>Sey Cheon, Coding World Champion</cite>
      </blockquote>
      <%= image_tag 'Sey', class: 'avatar-comment' %>
    </div>

    <div class="comment left">
      <%= image_tag 'Kris', class: 'avatar-comment' %>
      <blockquote> In the zone, I often create avatars. Pretty ones. Thanks to coworkit!
        <cite>Kristofer Espinosa, world traveler and blogger</cite>
      </blockquote>
    </div>
    <div class="comment right">
      <blockquote> I like poledancing better, but I guess this has a lot to offer, too!
        <cite>Nhung Nguyen, CEO of FitFlex</cite>
      </blockquote>
      <%= image_tag 'Nhung', class: 'avatar-comment' %>
    </div>
    <br>
    <div class="text-center">
      <%= link_to "Meet interesting people", users_path, class: "btn btn-default"  %>
    </div>
    <br>
  </div>
</div>
