<div class="map-box"><h3><%= coffeeshop.name %></h3>
<p><%= coffeeshop.address %></p>
<p><%= link_to coffeeshop.website%></p>
<% availability = 0 %>
<% coffeeshop.desks.each do |desk| %>

  <% if desk.bookings.length < desk.capacity %>
    <% availability += desk.capacity - desk.bookings.length %>
  <% end %>
<% end %>
<p><%= availability %> spots left!</p>
<div class="coffeeshop-price">
  <strong> <%= coffeeshop.average_price_per_hour %></strong>
</div>

<%= link_to "Check it out!", coffeeshop, class: "btn btn-primary" %>

</div>
