<%= content_for(:title) do %>
Coffeeshops - <%= @coffeeshop.name %>
<% end %>

<%= render 'shared/coffeeshop_banner' %>

<div class="row">
  <div class="col-xs-9 desks-container">
    <% @coffeeshop.desks.each do |desk| %>
    <!-- setting some local variables for logic -->
    <% start = desk.start_time.hour %>
    <% end_var = desk.end_time.hour %>
    <div class="each-desk" data-id=<%= desk.id %>>
      <div class="desk-head">
        <div class="desk-hour">
          <p><%= desk.str_date %></p>
          <p><%= desk.start_time.hour %>h - <%= desk.end_time.hour %>h</p>
        </div>
        <div class="per-hour-rate">
          <%= desk.cost %>€ / hour
        </div>
      </div>
      <div class="desk-body">
        <div class="desk-time-list">
          <% btn_time = start %>
          <% (desk.hour_count + 1).times do %>
          <div class="btn btn-success btn-lg time-select-btn" data-id=<%= btn_time %>>
            <%= btn_time %>
          </div>
          <% btn_time += 1 %>
          <% end %>
        </div>
        <div class="desk-avatars-container">
          <!-- show avatar for corresponding time slot -->
          <% desk_start = start %>
          <% desk.hour_count.times do %>
          <div class="time-slot">
            <% desk.bookings.each do |book| %>
            <% correct_start = desk_start >= book.start_time.hour %>
            <% correct_end = desk_start + 1 <= book.end_time.hour %>
            <% if correct_start && correct_end %>
            <%= book.user.first_name %> <%= book.user.last_name %> |
            <% end %>
            <% end %>
          </div>
          <% desk_start += 1 %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-xs-3 summary-right">
    <div class="summary-head">
      SUMMARY
    </div>
    <div class="summary-body">
    <div id="booking-coffeeshop-name">
    <%= @coffeeshop.name %>
    </div>
    <div id="booking-desk-date">      
      WHAT DATE
    </div>
    <div id="booking-time-range">
      FROM WHEN TO WHEN
    </div>
      <%= simple_form_for(@booking) do |f| %>
        <%= f.input :desk_id, as: :hidden, input_html: { id: "hidden-coffeeshop-name" } %>
        <%= f.input :time_int, as: :hidden, input_html: { id: "hidden-start-time" } %>
        <%= f.submit "Reserve", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
