<%= content_for(:title) do %>
<%= @coffeeshop.name %>
<% end %>

<%= render partial: 'shared/coffeeshop_banner', locals: { coffeeshop_picture: @coffeeshop.picture_url } %>

<div id="special-booking-filter"></div>

<div class="row remove-margins">
  <div class="col-xs-6 col-xs-offset-1 desks-container">
    <div class="coffeeshop-description">
      <h3>About Us</h3>
      <p><%= @coffeeshop.description %></p>
    </div>
    <h3>Our Desks</h3>
    <% @coffeeshop.desks.each do |desk| %>
    <!-- setting some local variables for logic -->
      <%= render 'desks/show', desk: desk %>
    <% end %>
  </div>
  <div class="col-xs-1"></div>
  <div class="col-xs-3 summary-right">
    <div class="summary-head">
      YOUR DESK
    </div>
    <div class="summary-body">
      <div id="booking-coffeeshop-name">
        <h3>
          <%= @coffeeshop.name %>
        </h3>
      </div>
      <p id="booking-desk-date"></p>
      <p id="booking-time-range"></p>
      <h5 id="booking-total-cost"></h5>
      <%= simple_form_for(@booking) do |f| %>
      <%= f.input :desk_id, as: :hidden, input_html: { id: "hidden-coffeeshop-name" } %>
      <%= f.input :start_time, as: :hidden, required: true, input_html: { id: "hidden-start-time" } %>
      <%= f.input :end_time, as: :hidden, input_html: { id: "hidden-end-time" } %>
      <%= f.input :cost, as: :hidden, input_html: {id: "hidden-total-cost"} %>
      <%= f.submit "Reserve", class: "btn btn-darkred", id: "reserve-btn", disabled: "true" %>
      <% end %>
    </div>
  </div>
</div>
