<%= render 'shared/coffeeshop_banner' %>

<div class="row">
  <div class="col-xs-9 desks-container">
    <% @coffeeshop.desks.each do |desk| %>
    <!-- setting some local variables for logic -->
    <% date = desk.start_time.to_s[5..9] %>
    <% count = ((desk.end_time - desk.start_time)/3600).to_i %>
    <% start = desk.start_time.to_s[11..13].to_i %>

    <div class="each-desk">
      <div class="desk-head">
        <div class="desk-hour">
          <p><%= date %></p>
          <p><%= desk.start_time.to_s[11..15] %> - <%= desk.end_time.to_s[11..15] %></p>
        </div>
        <div class="per-hour-rate">
          <%= desk.cost %>€ / hr
        </div>
      </div>
      <div class="desk-body">
        <div class="desk-time-list">
          <% btn_time = start %>
          <% (count + 1).times do %>
          <div class="btn btn-success btn-lg">
            <%= btn_time < 24 ? btn_time : btn_time - 24 %>
          </div>
          <% btn_time += 1 %>
          <% end %>
        </div>
        <div class="desk-avatars-container">
          <!-- show avatar for corresponding time slot -->
          <% desk_start = start %>
          <% count.times do %>
            <div class="time-slot">
              <%= desk_start %>
              
            </div>
            <% desk_start += 1 %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <div class="col-xs-3 summary-right">
    <div class="summary-head">
      SUMMARY
    </div>
    <div class="summary-body">
      WHICH COFFEESHOP <br><br>
      WHAT DATE <br><br>
      FROM WHEN TO WHEN
    </div>
    <div class="btn btn-primary">Reserve</div>
  </div>
</div>